@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --primary: #43CC1A;
  --secondary: #D3D3D3;
  --third: #292929;
  --highlight: #FBEF69;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--third);
}
